@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100vh;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.25rem;
    background-color: #333;
    color: #ddd;
    font-family: 'PT Sans', Menlo, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../img/nasa-Q1p7bh3SHj8-unsplash.jpg");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}

body div.container {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
}

main h2 {
    text-align: center;
    font-size: 250%;
}

ul {
    width: 50%;
    max-width: 1080px;
    margin: 0 auto 1em;
    padding: 2em 0 0;
    display: flex;
    flex-flow: row wrap;
}

ul li {
    background-color: rgba(14, 30, 51, 0.568);
    margin: 0.25em;
    display: inline-block;
    padding: none;
    text-align: center;
    border-radius: 0.125rem;
    width: 125px;
    height: 125px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color width height;
    transition-delay: 50ms;
    transition-duration: 2s;
    transition-timing-function: linear;
}

ul li:hover {
    background-color: white;
    /* transform: scale(125%); */
    width: 150px;
    height: 150px;
}

li a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
}

li:hover a {
    color: rgb(8, 28, 53);
    /* font-size: 120%; */
    font-weight: bold;
}

.welcome h1,
.welcome p {
    text-align: center;
}

h1 {
    font-family: "Zen Tokyo Zoo";
    font-size: 100px;
    font-weight: 400;
}

main {
    width: 80%;
    max-width: 1300px;
    min-width: 1200px;
    margin: 1em auto;
    padding: 1em;
}

footer p {
    text-align: center;
    font-size: 16px;
}

footer {
    padding: 0.25em;
}

.columns {
    display: flex;
    flex-flow: col nowrap;
}

.columns>* {
    width: 30%;
    margin: 1em 1.5%;
    background-color: rgba(0, 0, 22, 0.5);
    padding: 1em;
}