* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1.25rem;
    background-color: #333;
    color: #ddd;
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}